### For Loop

In [1]:
numbers=[1,2]
sum_=0

for num in numbers:
    sum_=sum_+num**2
    
sum_

5

In [3]:
numbers=[3,4]
sum_=0

for num in numbers:
    sum_=sum_+num**2
    
sum_

25

In [4]:
numbers=[1,2,3,1,5]
sum_=0

for num in numbers:
    sum_=sum_+num**2
    
sum_

40

In [11]:
fruits=["Apple","Banana","Cherry"]
for fruit in fruits:
    
    print(fruit)

Apple
Banana
Cherry

In [12]:
for letter in "Sheela":
    print(letter)

S
h
e
e
l
a

In [13]:
for i in range(5):
    print(i)

0
1
2
3
4

In [14]:
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [15]:
for letter in "Grace":
    print(letter)

G
r
a
c
e

In [16]:
for letter in "Ravi":
    print(letter)

R
a
v
i

In [21]:
x=[1,3,5,8,9]
product=1
for i in x:
    product=product*i
    
    print(product)

1
3
15
120
1080

### product should be initialise with 1

In [22]:
numbers=[1,2]
s=0

for value in numbers:
    s=s+value**2
   
s

5

In [24]:
numbers[2,5]
sum_=0

for x in numbers:
    sum_=sum_+x**2
   
sum_

TypeError: list indices must be integers or slices, not tuple

In [25]:
numbers=[2,5]
s=0

for value in numbers:
    s=s+value**2
   
s

29

In [27]:
numbers=[2,5]
sum_=0

for x in numbers:
    sum_=sum_+x**2
   
sum_

29

In [28]:
numbers[3,9]
sum_=0

for y in numbers:
    sum_=sum_+y**2
   
sum_

TypeError: list indices must be integers or slices, not tuple

In [29]:
numbers=[3,9]
sum_=0

for y in numbers:
    sum_=sum_+y**2
   
sum_

90

In [30]:
numbers=[1,5]
product=1

for y in numbers:
    product=product*y
    
print(product)

5

In [33]:
numbers=[9,19]
product=1

for z in numbers:
    product=product*z
    
print(product)

171

In [34]:
9*19

171

In [35]:
numbers=[27]
cube=1/3

for y in numbers:
    cube=cube*1/3*y
    
print(cube)

3.0

In [36]:
numbers=[2,4,5,6,7,8]
sum_=0

for y in numbers:
    sum_=sum_+y
    
print(sum_)

32

In [37]:
2+4+5+6+7+8

32

In [38]:
numbers=[900]
cube=1/3

for y in numbers:
    cube=cube*1/3*y
    
print(cube)

100.0

In [39]:
fruits=["Apple","Banana","Cherry"]
for fruit in fruits:
    print(fruit)

Apple
Banana
Cherry

In [40]:
for letter in "Sheela":
    print(letter)

S
h
e
e
l
a

In [42]:
vegetables=["Onion","Raddish","Cucumber","Capsicum"]
for eatables in vegetables:
    print(eatables)

Onion
Raddish
Cucumber
Capsicum

In [43]:
for i in range(29):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28

In [44]:
for i in reversed(range(5)):
    print(i)

4
3
2
1
0

In [46]:
x=[1,3,5,8,4]
product=1

for num in x:
    product=product*num
    
print(product)

480

In [47]:
1*3*5*8*4

480

In [48]:
numbers=125
cube_root=numbers**(1/3)
print(f"The cube root of {numbers} is:{cube_root}")

The cube root of 125 is:5.0

In [50]:
my_list=[3,5,6,8,4]

for num in range(len(my_list)):
    my_list.append(my_list[num]+2)
print(my_list)

[3, 5, 6, 8, 4, 5, 7, 8, 10, 6]

In [52]:
list=[2,3,4,5]

for num in range(len(list)):
    list.append(list[num]+2)
    
print(list)

[2, 3, 4, 5, 4, 5, 6, 7]